[submodule "VulkanStudy/3rdpart/glm"]
	path = VulkanStudy/3rdpart/glm
	url = https://github.com/g-truc/glm.git
[submodule "VulkanStudy/3rdpart/GLFW"]
	path = VulkanStudy/3rdpart/GLFW
	url = https://github.com/WangYiTao0/glfw.git
